###################################################################
#   To use Our Config File you must follow the following syntax   #
#       <section>                                                 #
#       {                                                         #
#           <directive> <parameters>;                             #
#           <section>                                             #
#           {                                                     #
#               <directive> <parameters>;                         #
#           }                                                     #
#       }                                                         #
# DESCLAIMER:                                                     #
#     "ANYTHING ELSE WILL BE CONSIDERED AN ERROR"                 #
#                                                                 #
#  $> how it works:                                               #
#     -> support commnets only if line begin with #               #
#     -> we support spaces feel free to add as mush as u want     #
#     -> We support empty lines between directives and sections   #
###################################################################


# Configuration file for MyWebServer

# Define a server block on port 80, listening on all available interfaces
server
{
    listen 8080;
    listen 8081;
    listen 8082;
    server_name mywebserver.com www.mywebserver.com;

    # Default server for this host:port
    default_server on;

    # Error pages
    error_page 404 /error404.html;
    error_page 500 /error500.html;

    # Limit client body size to 10MB
    client_max_body_size 10M;

    # Route for the root URL "/"
    location / {
        root /var/www/html;
        index index.html;
        allow_methods GET POST;
    }

    # Route for "/images" with redirection
    location /images {
        alias /var/www/image-folder;
        redirect 301 /images/ https://cdn.mywebserver.com/;
    }

    # Route for "/downloads" with directory listing disabled
    location /downloads {
        root /var/www/downloads;
        autoindex off;
    }

    # Route for PHP files with CGI execution
    location ~ \.php$ {
        root /var/www/html;
        fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_script_name;
        include fastcgi_params;
    }

    # Route for file uploads
    location /upload {
        alias /var/www/uploads;
        client_body_temp_path /var/www/uploads_temp;
        upload_store /var/www/uploads;
        upload_pass /upload;
        upload_set_form_field $upload_field_name.name "$upload_file_name";
        upload_set_form_field $upload_field_name.content_type "$upload_content_type";
        upload_set_form_field $upload_field_name.path "$upload_tmp_path";
        upload_aggregate_form_field "$upload_field_name.sha1" "$upload_file_sha1";
        upload_aggregate_form_field "$upload_field_name.size" "$upload_file_size";
        upload_cleanup 400 404 499 500-505;
    }
}

server
{
    listen 8080;
    listen 8081;
    listen 8082;
    server_name mywebserver.com www.mywebserver.com;

    # Default server for this host:port
    default_server on;

    # Error pages
    error_page 404 /error404.html;
    error_page 500 /error500.html;

    # Limit client body size to 10MB
    client_max_body_size 10M;

    # Route for the root URL "/"
    location / {
        root /var/www/html;
        index index.html;
        allow_methods GET POST;
    }

    # Route for "/images" with redirection
    location /images {
        alias /var/www/image-folder;
        redirect 301 /images/ https://cdn.mywebserver.com/;
    }

    # Route for "/downloads" with directory listing disabled
    location /downloads {
        root /var/www/downloads;
        autoindex off;
    }

    # Route for PHP files with CGI execution
    location ~ \.php$ {
        root /var/www/html;
        fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_script_name;
        include fastcgi_params;
    }

    # Route for file uploads
    location /upload {
        alias /var/www/uploads;
        client_body_temp_path /var/www/uploads_temp;
        upload_store /var/www/uploads;
        upload_pass /upload;
        upload_set_form_field $upload_field_name.name "$upload_file_name";
        upload_set_form_field $upload_field_name.content_type "$upload_content_type";
        upload_set_form_field $upload_field_name.path "$upload_tmp_path";
        upload_aggregate_form_field "$upload_field_name.sha1" "$upload_file_sha1";
        upload_aggregate_form_field "$upload_field_name.size" "$upload_file_size";
        upload_cleanup 400 404 499 500-505;
    }
}

server
{
    listen 8080;
    listen 8081;
    listen 8082;
    server_name mywebserver.com www.mywebserver.com;

    # Default server for this host:port
    default_server on;

    # Error pages
    error_page 404 /error404.html;
    error_page 500 /error500.html;

    # Limit client body size to 10MB
    client_max_body_size 10M;

    # Route for the root URL "/"
    location / {
        root /var/www/html;
        index index.html;
        allow_methods GET POST;
    }

    # Route for "/images" with redirection
    location /images {
        alias /var/www/image-folder;
        redirect 301 /images/ https://cdn.mywebserver.com/;
    }

    # Route for "/downloads" with directory listing disabled
    location /downloads {
        root /var/www/downloads;
        autoindex off;
    }

    # Route for PHP files with CGI execution
    location ~ \.php$ {
        root /var/www/html;
        fastcgi_pass unix:/var/run/php-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_script_name;
        include fastcgi_params;
    }

    # Route for file uploads
    location /upload {
        alias /var/www/uploads;
        client_body_temp_path /var/www/uploads_temp;
        upload_store /var/www/uploads;
        upload_pass /upload;
        upload_set_form_field $upload_field_name.name "$upload_file_name";
        upload_set_form_field $upload_field_name.content_type "$upload_content_type";
        upload_set_form_field $upload_field_name.path "$upload_tmp_path";
        upload_aggregate_form_field "$upload_field_name.sha1" "$upload_file_sha1";
        upload_aggregate_form_field "$upload_field_name.size" "$upload_file_size";
        upload_cleanup 400 404 499 500-505;
    }
}